<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="produtoCadastrado">
      <h2 data-cy="produtoCadastradoDetailsHeading">
        <span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.detail.title">Produto Cadastrado</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ produtoCadastrado.id }}</span>
        </dd>
        <dt><span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.quando">Quando</span></dt>
        <dd>
          <span>{{ produtoCadastrado.quando | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.localArmazenado">Local Armazenado</span></dt>
        <dd>
          <span>{{ produtoCadastrado.localArmazenado }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/produto-cadastrado', produtoCadastrado.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
