<div>
  <h2 id="page-heading" data-cy="ProdutoCadastradoHeading">
    <span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.home.title">Produto Cadastrados</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produto-cadastrado"
        [routerLink]="['/produto-cadastrado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.home.createLabel"> Criar novo Produto Cadastrado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="produtoCadastrados?.length === 0">
    <span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.home.notFound">Nenhum Produto Cadastrado encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="produtoCadastrados && produtoCadastrados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quando">
            <div class="d-flex">
              <span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.quando">Quando</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="localArmazenado">
            <div class="d-flex">
              <span jhiTranslate="armazemtrabalhoApp.produtoCadastrado.localArmazenado">Local Armazenado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produtoCadastrado of produtoCadastrados; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/produto-cadastrado', produtoCadastrado.id, 'view']">{{ produtoCadastrado.id }}</a>
          </td>
          <td>{{ produtoCadastrado.quando | formatMediumDatetime }}</td>
          <td>{{ produtoCadastrado.localArmazenado }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/produto-cadastrado', produtoCadastrado.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/produto-cadastrado', produtoCadastrado.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(produtoCadastrado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
